*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --hover-color: #2196f3;
  --main-color: #212121;
  --background-title: #2f303a;
  --logo-color: #000000;
  --grey-color: #757575;
  --white-color: #ffffff;
  --our-team-color: #f5f4fa;
  --background-portofolio: #e5e5e5;
}

body {
  font-family: "Roboto";
  font-style: normal;
}

/*nagivation tab*/
.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  list-style: none;
}
.navigation-one:hover,
.navigation-two:hover,
.navigation-three:hover,
.navigation-one:focus,
.navigation-two:focus,
.navigation-three:focus,
.navigation-one:active,
.navigation-two:active,
.navigation-three:active {
  color: var(--hover-color);
  cursor: pointer;
}
.navigation-elements {
  list-style: none;
}
.navigation-elements:hover,
.navigation-elements :focus {
  cursor: pointer;
}
.navigation-mail {
  text-decoration: none;
  list-style: none;
  text-align: right;
  color: var(--hover-color);
}
.navigation-tel {
  text-decoration: none;
  list-style: none;
  color: var(--grey-color);
}
.navigation-list li a {
  text-decoration: none;
  list-style: none;
  color: var(--main-color);
}
.navigation-list > li {
  list-style: none;
}
.unstyled-list {
  text-decoration: none;
}
/*logo*/
.Webstudio-logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700px;
  letter-spacing: 0.03em;
  line-height: 4.67px;
  font-size: 26px;
}
.Webstudio-logo::before {
  content: "Web";
  color: var(--hover-color);
  letter-spacing: 0.03em;
  font-size: 26px;
}

/*hero section*/
.hero-section {
  background-color: var(--background-title);
  text-align: center;
  color: var(--white-color);
  line-height: 2.72;
  gap: 30px;
}
.hero-index-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  background-color: #2196f3;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*about-us*/
.about-us {
  display: flex;
}
.unstyled-list {
  list-style: none;
}
.title-about-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.description-about-us {
  font-weight: 400;
  font-size: 14px;
  line-height: 5.35px;
  letter-spacing: 0.03em;
  color-scheme: var(--grey-color);
}

/*what we do*/
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.image-section {
  gap: 30px;
  width: 370px;
  height: 294px;
  top: 1061px;
  left: 215px;
  display: flex;
}
/*our team section*/
.our-team-section {
  background-color: var(--our-team-color);
  display: inline;
}
.our-team-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
}
.index-wrapper {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  color: var(--main-color);
  letter-spacing: 0.03em;
}
.our-team-person {
  color: var(--main-color);
  font-weight: 500;
  text-align: center;
}
.our-team-job {
  color: var(--grey-color);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}
/*footer-section*/
.footer {
  background-color: var(--background-title);
  padding: 60px 0px;
  display: flex;
  color: var(--white-color);
}
.container-footer {
  display: flex;
}
.footer-list {
  text-decoration: none;
  color: var(--white-color);
  list-style: none;
}
.footer-address {
  color: #ffffff 60%;
  font-style: normal;
  margin-top: 28px;
  margin-bottom: 12px;
  text-decoration: none;
}
.footer-link {
  color: #ffffff 60%;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}
.footer-mail {
  margin-bottom: 12px;
  color: #ffffff 60%;
}
.footer-tel {
  color: #ffffff 60%;
  text-decoration: none;
}

/*logo*/

.Webstudio-logo-footer {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700px;
  letter-spacing: 0.03em;
  line-height: 4.67px;
  font-size: 26px;
  align-items: center;
}
.Webstudio-logo-footer::before {
  content: "Web";
  color: var(--hover-color);
}
.
/*portofolio section*/
.portofolio-options {
  background-color: var(--background-portofolio);
}
.portofolio-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  background-color: var(--our-team-color);
  color: var(--main-color);
  justify-content: center;
  gap: 15px;
  border: none;
}
.portofolio-button {
  background-color: var(--our-team-color);
  border-radius: 4px;
  text-align: center;
  border: none;
  padding: 6px, 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portofolio-button:hover,
.portofolio-button:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  transition-duration: 0.4s;
  width: auto;
  text-decoration: underline.;
}
.portofolio-container {
  display: flex;
  align-items: center;
  align-content: center;
}
.portofolio-photos {
  display: inline-block;
  gap: 30px;
}
