* {
  box-sizing: border-box;
}
:root {
  --hover-color: #2196f3;
  --main-color: #212121;
  --background-title: #2f303a;
  --logo-color: #000000;
}
body {
  font-family: "Roboto";
  font-style: normal;
}

/*nagivation tab*/
.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.navigation-one:hover,
.navigation-two:hover,
.navigation-three:hover,
.navigation-one:focus,
.navigation-two:focus,
.navigation-three:focus,
.navigation-one:active,
.navigation-two:active,
.navigation-three:active {
  color: var(--hover-color);
  cursor: pointer;
}
.navigation-elements {
  text-decoration: none;
}
/*logo*/
.Webstudio-logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700px;
  letter-spacing: 0.03em;
  line-height: 4.67px;
  font-size: 26px;
}
.Webstudio-logo::before {
  content: "Web";
  color: var(--hover-color);
  letter-spacing: 0.03em;
  font-size: 26px;
}
.navigation-list li a {
  text-decoration: none;
  color: var(--main-color);
}
.navigation-list > li {
  list-style: none;
}
.unstyled-list {
  text-decoration: none;
}
