*,
::after,
::before {
  box-sizing: border-box;
}

a,
button,
br,
img,
ul,
h1,
h2,
h3,
h4 {
  margin-left: 0;
  margin-right: 0;
}

/*B7, B8 container width */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

:root {
  --hover-color: #2196f3;
  --main-color: #212121;
  --background-title: #2f303a;
  --logo-color: #000000;
  --grey-color: #757575;
  --white-color: #ffffff;
  --our-team-color: #f5f4fa;
  --background-portofolio: #e5e5e5;
  --social-links-color: #afb1b8;
}

body {
  font-family: "Roboto";
  font-style: normal;
}

.hearder-segment {
  border-bottom: 1px solid #ececec;
}

/*nagivation tab*/

.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  list-style: none;
  /*cerinta H3 B4*/
  margin: auto 0;
  /*container flex*/
  display: flex;
  padding: 20px;
  /*H3 B13*/
  align-items: center;
  justify-content: center;
}
.navigation-one:hover,
.navigation-two:hover,
.navigation-three:hover,
.navigation-one:focus,
.navigation-two:focus,
.navigation-three:focus,
.navigation-one:active,
.navigation-two:active,
.navigation-three:active {
  color: var(--hover-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-elements {
  list-style: none;
  flex-grow: 3;
  display: inline-flex;
  gap: 50px;
}
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus,
.header-mail:active,
.header-tel:active {
  cursor: pointer;
  text-decoration: none;
  color: var(--hover-color);
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-mail {
  text-decoration: none;
  list-style: none;
  text-align: right;
  color: var(--grey-color);
}
.navigation-tel {
  text-decoration: none;
  list-style: none;
  color: var(--grey-color);
}
.navigation-list {
  display: inline-flex;
  justify-content: flex-start;
  gap: 50px;
  flex-grow: 2;
}
.navigation-list li a {
  text-decoration: none;
  list-style: none;
  color: var(--main-color);
}
.navigation-list > li {
  list-style: none;
}
.unstyled-list {
  text-decoration: none;
  list-style: none;
}

.icon-email,
.icon-tel {
  color: var(--grey-color);
}
/*logo*/
.Webstudio-logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700px;
  letter-spacing: 0.03em;
  line-height: 4.67px;
  font-size: 26px;
  flex-grow: 1;
}
.Webstudio-logo::before {
  content: "Web";
  color: var(--hover-color);
  letter-spacing: 0.03em;
  font-size: 26px;
}

/*hero section*/
.hero-section {
  /*background-color: var(--background-title);*/
  color: var(--white-color);
  line-height: 2.72;
  gap: 30px;
  /*H3 B15*/
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 600px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(47, 48, 58, 0.4));
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-index-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  background-color: #2196f3;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  align-self: center;
}

/*about-us*/
.about-us-div {
  display: flex;
  /*H3 B15*/
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 94px;
  padding-top: 94px;
}
.about-us-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}
.us-blocks {
  color: var(--grey-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.icon-about {
  display: flex;
  justify-content: center;
  background-color: var(--our-team-color);
  border-radius: 4px;
  margin: 30px;
  border: 2px var(--our-team-color);
  position: relative;
}

.icon-about-figure {
  text-align: center;
  position: absolute;
}
.title-about-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
  text-align: left;
  margin-bottom: 8px;
}

/*what we do*/

.what-we-do {
  /*container flex*/
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
  padding-top: 94px;
}
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  align-self: center;
}
.image-section-row {
  gap: 30px;
  width: 370px;
  height: 294px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.photo-row {
  display: flex;
}
/*our team section*/
.team-div {
  display: flex;
  flex-direction: row;
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--our-team-color);
}

.our-team-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-presentation {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}
.team-card {
  padding: 32px 16px;
}
.index-wrapper {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--main-color);
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 50px;
}
.index-wrapper > img {
  display: block;
  width: 270px;
  height: 260px;
}
.our-team-person {
  color: var(--main-color);
  font-weight: 500;
  text-align: center;
}
.our-team-job {
  color: var(--grey-color);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}

/*social icons*/

.icon-social-links {
  fill: var(--social-links-color);
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
.icon-social-links:hover {
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-instagram {
  width: 20px;
  height: 20px;
}
.icon-twitter {
  width: 20px;
  height: 16.25px;
}
.icon-facebook {
  width: 20px;
  height: 20px;
}
.icon-linkedin {
  width: 20px;
  height: 20px;
}

/*our customers*/
.our-customers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 94px;
}
.our-customers-title {
  font-weight: 700;
  size: 36px;
  text-align: center;
  color: var(--main-color);
}
.our-customers-list {
  fill: var(--social-links-color);
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.our-customers-list-01:hover,
.our-customers-list-02:hover,
.our-customers-list-03:hover,
.our-customers-list-04:hover,
.our-customers-list-05:hover,
.our-customers-list-06:hover {
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers-list-01,
.our-customers-list-02,
.our-customers-list-03,
.our-customers-list-04,
.our-customers-list-05,
.our-customers-list-06 {
  border: 1px solid var(--social-links-color);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer-section*/
.footer {
  background-color: var(--background-title);
  display: flex;
  color: var(--white-color);
  width: 100%;
}
.container-footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.Webstudio-logo-footer,
.left-side-footer,
.Webstudio-logo-footer::before {
  display: flex;
  gap: 30px;
}

.left-side-footer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-transform: none;
  color: var(--white-color);
}
.right-side-footer {
  display: flex;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.footer-address {
  color: #ffffff;
  margin-top: 28px;
  margin-bottom: 12px;
  text-decoration: none;
}
.footer-mail {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/*logo footer*/

.Webstudio-logo-footer {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700px;
  letter-spacing: 0.03em;
  line-height: 4.67px;
  font-size: 26px;
  margin-top: 60px;
  margin-bottom: 12px;
  padding-left: 32px;
  text-decoration: none;
  z-index: 2;
}
.Webstudio-logo-footer::before {
  content: "Web";
  color: var(--hover-color);
  margin-top: 30px;
  margin-bottom: 12px;
  text-decoration: none;
}

/*find us*/
.left-side-footer,
.right-side-footer {
  display: flex;
}
.right-side-footer {
  display: flex;
  gap: 20px;
  fill: var(--white-color);
}

.find-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  padding-top: 75px;
}
.unstyled-list-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-instagram-footer,
.icon-twitter-footer,
.icon-facebook-footer,
.icon-linkedin-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 20px;
  height: 10px;
  border: 1px invisible var(--main-color);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.icon-instagram-footer:hover,
.icon-twitter-footer:hover,
.icon-facebook-footer:hover,
.icon-linkedin-footer:hover {
  fill: var(--hover-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*portofolio section*/
.portofolio-options {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  padding-top: 94px;
}
.portofolio-list {
  /*container flex*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--main-color);
  border: none;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin: 0px 0px 72px 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portofolio-class {
  gap: 8px;
}

.portofolio-button {
  background-color: var(--our-team-color);
  border-radius: 4px;
  border: none;
  transition-duration: 0.2s;
  width: auto;
  margin-right: 24px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 12px 24px;
}
.portofolio-button:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portofolio-button:hover,
.portofolio-button:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  transition-duration: 0.4s;
  width: auto;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*portofolio container flex*/

.portofolio-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  padding-top: 94px;
}
.portofolio-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #eeeeee;
  border-top: none;
  margin-bottom: 48px;
  margin-right: 24px;
}
.portofolio-wrapper:hover {
  color: var(--hover-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portofolio-wrapper.img {
  display: block;
  max-width: 100%;
  width: 370px;
  height: 294px;
}
.portofolio-one,
.portofolio-two,
.portofolio-three {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  flex-direction: row;
}
.portofolio-text {
  color: var(--white-color);
  text-align: left;
  padding: 32px 16px;
  border-top: none;
}
