*,
::after,
::before {
  box-sizing: border-box;
}

a, button, br, img,ul, h1,h2,h3,h4 {
    margin-left: 0;
    margin-right: 0;}

/*B7, B8 container width */
.container{
 width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

:root {
  --hover-color: #2196f3;
  --main-color: #212121;
  --background-title: #2f303a;
  --logo-color: #000000;
  --grey-color: #757575;
  --white-color: #ffffff;
  --our-team-color: #f5f4fa;
  --background-portofolio: #e5e5e5;
}

body {
  font-family: "Roboto";
  font-style: normal;
}

/*nagivation tab*/


.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  list-style: none;
  /*cerinta H3 B4*/
  margin: auto 0;
  /*container flex*/
  display: flex;
  padding: 20px;
  /*H3 B13*/
  border-bottom: 1px solid #ececec;
  align-items: center;
  justify-content: center;
}
.navigation-one:hover,
.navigation-two:hover,
.navigation-three:hover,
.navigation-one:focus,
.navigation-two:focus,
.navigation-three:focus,
.navigation-one:active,
.navigation-two:active,
.navigation-three:active {
  color: var(--hover-color);
  cursor: pointer;
}
.navigation-elements {
  list-style: none;
  flex-grow: 3;
  display: inline-flex;
  gap: 50px;
}
.navigation-mail:hover,
.navigation-mail:focus,
.navigation-tel:hover,
.navigation-tel:focus {
  cursor: pointer;
  text-decoration: none;
  color: var(--hover-color);
}
.navigation-mail {
  text-decoration: none;
  list-style: none;
  text-align: right;
  color: var(--grey-color);
}
.navigation-tel {
  text-decoration: none;
  list-style: none;
  color: var(--grey-color);
}
.navigation-list {
  display: inline-flex;
  justify-content: flex-start;
  gap: 50px;
  flex-grow: 2;
}
.navigation-list li a {
  text-decoration: none;
  list-style: none;
  color: var(--main-color);
}
.navigation-list > li {
  list-style: none;
}
.unstyled-list {
  text-decoration: none;
}
/*logo*/
.Webstudio-logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700px;
  letter-spacing: 0.03em;
  line-height: 4.67px;
  font-size: 26px;
  flex-grow: 1;
}
.Webstudio-logo::before {
  content: "Web";
  color: var(--hover-color);
  letter-spacing: 0.03em;
  font-size: 26px;
}

/*hero section*/
.hero-section {
  background-color: var(--background-title);
  text-align: center;
  color: var(--white-color);
  line-height: 2.72;
  gap: 30px;
  /*H3 B15*/
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.hero-index-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  background-color: #2196f3;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  align-self: center;
}

/*about-us*/
.about-us-div {
  display: flex;
  /*H3 B15*/
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}
.about-us-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}
.us-blocks {
  color: var(--grey-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  flex-wrap: wrap;
}

.title-about-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
  text-align: left;
  margin-bottom: 8px;}
 
/*something is wrong with class on p
/* *.description-about-us {
  font-weight: 400;
  font-size: 14px;
  line-height: 5.35px;
  letter-spacing: 0.03em;
  color-scheme: var(--grey-color);

}

/*what we do*/

.what-we-do {
  /*container flex*/
  display: flex;
  flex-direction: column;

}
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  align-self: center;
}
.image-section-row {
  gap: 30px;
  width: 370px;
  height: 294px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.photo-row {
  display: flex;
}
/*our team section*/
.team-div {
  display: flex;
  flex-direction: row;
}
.our-team-section {
  background-color: var(--our-team-color);
  display: flex;
  width: 100%;
  flex-direction: column;
}
.our-team-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;  
}
.team-presentation {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}
.team-card{
 padding: 32px 16px; 

}
.index-wrapper {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  color: var(--main-color);
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.index-wrapper>img{
  display: block;
  width: 270px;
  height:260px;
}
.our-team-person {
  color: var(--main-color);
  font-weight: 500;
  text-align: center;
}
.our-team-job {
  color: var(--grey-color);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}
/*footer-section*/
.footer {
  background-color: var(--background-title);
  display: flex;
  color: var(--white-color);
  width: 100%;
}

.Webstudio-logo-footer.addrress-footer{
  gap:28px;
  align-items: flex-start;
}
.addrress-footer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white-color);
}
.footer-link {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.footer-address {
  color: #ffffff;
  margin-top: 28px;
  margin-bottom: 12px;
  text-decoration: none;
}
.footer-mail {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/*logo footer*/

.Webstudio-logo-footer {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700px;
  letter-spacing: 0.03em;
  line-height: 4.67px;
  font-size: 26px;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 12px;
  padding-left: 32px;;
}
.Webstudio-logo-footer::before {
  content: "Web";
  color: var(--hover-color);
  margin-top: 28px;
  margin-bottom: 12px;
}
.
/*portofolio section*/
.portofolio-options {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 0px;
}
.portofolio-list {
  /*container flex*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--main-color);
  border: none;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin: 0px 0px 72px 0px;
}
.portofolio-class{
  gap: 8px;
}

.portofolio-button {
  background-color: var(--our-team-color);
  border-radius: 4px;
  border: none;
  transition-duration: 0.2s;
  width: auto;
  margin-right: 24px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 12px 24px;
}
.portofolio-button:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portofolio-button:hover,
.portofolio-button:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  transition-duration: 0.4s;
  width: auto;
  text-decoration: none;
  cursor: pointer;
}
/*portofolio container flex*/

.portofolio-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 94px 0;
}
.portofolio-wrapper{
  display: flex;
  flex-direction:column;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
  border-top: none;
  margin-bottom: 48px;
  margin-right: 24px;

}
.portofolio-wrapper.img {
  display: block;
  max-width: 100%;
  width: 370px;
  height: 294px;
}
.portofolio-one,
.portofolio-two,
.portofolio-three {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  flex-direction: row;
}
.portofolio-text {
    color:var(--white-color)
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
    text-align:left;
    padding: 32px 16px;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
    border-top:none;
}
